:root {
  --header-height: 3rem;
  --border: solid 1px red;

  /* COLORS */
  --red-color: hsl(0, 58%, 51%);
  --black-color: hsl(0, 0%, 9%);
  --gray-color: hsl(0, 0%, 44%);
  --white-color: #fff;

  /* SHADOW */
  --text-shadow: 0px 1.5px 4px var(--black-color);

  /* FONT */
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* FONT WEIGHT */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* MARGENES BOTTOM */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z-INDEX */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* HOVER OVERLAY */
  --img-transition: 0.3s ease-in-out;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  /* border: var(--border); */
}

a {
  text-decoration: none;
  color: var(--black-color);
}

li {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
}

span{
  color: var(--red-color);
}

.span{
  color: var(--gray-color);
  font-size: var(--h2-font-size);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  margin: 4.5rem 0 0;
}

/* ============ NavBar =============  */

.header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: max-content;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  /* border: var(--border); */
}

.nav {
  height: auto;
  /* border: var(--border); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--mb-0-5) var(--mb-1-5);
}

.nav__logo {
  font-size: var(--h1-font-size);
}

.nav__container {
  position: relative;
}

@media (max-width: 767px) {
  .nav__container {
    position: absolute;
    right: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    background-color: var(--white-color);
    padding: 5rem 0 0 var(--mb-1-5);
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-2-5);
    font-size: var(--h2-font-size);
    box-shadow: -1px 0 3px 0 var(--gray-color);
    z-index: var(--z-fixed);
    transition: var(--img-transition);
  }

  .nav-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--h2-font-size);
    margin: var(--mb-1) var(--mb-1) 0 0;
  }
}

.nav__container-toggle {
  display: flex;
  justify-content: space-between;
  column-gap: var(--mb-1-5);
  font-size: var(--h2-font-size);
}

.nav__container-itens {
  width: max-content;
}

.nav__container-itens__links::after {
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  background-color: var(--red-color);
  transition: var(--img-transition);
}

.nav__container-itens__links:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--red-color);
  display: block;
}

.show-menu {
  right: 0;
  transition: var(--img-transition);
}

/* ================= Section I ================ */
.main {
  margin: var(--header-height) 0 0 0;
  display: flex;
}

.main__section-options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--mb-1-5);
  height: auto;
  /* border: var(--border); */
}

.main__container-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--mb-3);
  /* margin-top: 4rem; */
  /* border: var(--border); */
}

.line {
  background-color: var(--gray-color);
  opacity: 0.3;
  width: 3.75px;
  height: 60px;
  border-radius: 10px;
}

.option {
  font-size: 0.6rem;
}

.option:nth-child(2) {
  color: var(--red-color);
}

.option:nth-child(3),
.option:nth-child(4) {
  color: var(--gray-color);
  opacity: 0.3;
  font-size: 0.4rem;
}

.main__section {
  margin-top: var(--header-height);
  height: calc(100vh - 50%);
  /* border: var(--border); */
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: calc(var(--header-height) - 100vh); */
  /* padding: var(--mb-2) 0 var(--mb-2-5) 0; */
  /* border: var(--border); */
}

.main__container-img {
  display: flex;
  justify-content: start;
  /* border: var(--border); */
}

.main__container-img img {
  width: 80%;
  /* border: var(--border); */
}

.main__container-description {
  padding: 0 var(--mb-1);
  display: flex;
  flex-direction: column;
  margin-top: var(--mb-0-75);
  row-gap: var(--mb-1);
  /* border: var(--border); */
}

.main__container-description__title {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--h1-font-size);
  letter-spacing: 3px;
  font-weight: var(--font-bold);
}

/* .main__container-description__container {
  border: var(--border);
} */

.main__container-description__subtitle {
  font-size: var(--normal-font-size);
}

.main__container-description__stars {
  display: flex;
  flex-direction: row;
  column-gap: var(--mb-1);
  margin-top: var(--mb-0-5);
  color: var(--red-color);
  font-weight: var(--font-semi-bold);
}

.main__container-description__stars-container {
  font-size: 1.1rem;
}

.main__container-description__stars-containerdois {
  font-size: var(--normal-font-size);
}

.main__container-description__details {
  display: flex;
  flex-direction: column;
  row-gap: var(--mb-1);
}

.main__container-description__details h3 {
  font-size: var(--normal-font-size);
}

.main__container-description__details p {
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
}

.main__container-description__buy {
  display: flex;
  align-items: center;
  column-gap: var(--mb-0-5);
}

.main__container-description__buy-value {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.main__container-description__buy-button {
  text-transform: uppercase;
  border: none;
  padding: var(--mb-0-75) var(--mb-2);
  color: var(--white-color);
  background-color: var(--red-color);
  transition: var(--img-transition);
}

.main__container-description__buy-button:hover {
  background-color: var(--black-color);
  transition: var(--img-transition);
}
/* =============== Footer ============== */
.footer {
  padding: 0 var(--mb-1);
  /* border: var(--border); */
}

.footer__container {
  background-color: hsla(61, 73%, 75%, 0.438);
  height: max-content;
  width: 100%;
  border-radius: 5px 5px 0 0;
  padding: var(--mb-1);
  /* border: var(--border); */
}

.footer__container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--mb-1);
  row-gap: var(--mb-1);
  /* border: var(--border); */
}

.footer__container-box i {
  font-size: var(--h1-font-size);
}

.footer__container-box p {
  font-size: var(--smaller-font-size);
}

.footer__container-description-I,
.footer__container-description-II,
.footer__container-description-III {
  display: flex;
  align-items: center;
  column-gap: var(--mb-1);
}

@media (min-width: 768px) {
  .nav-toggle,
  .nav-close {
    display: none;
  }

  .nav__container {
    /* border: var(--border); */
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--mb-1-5);
  }

  .main__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50%);
    padding: 5rem 0 0 0;
    /* border: var(--border); */
  }

  .main__container-img {
    justify-content: center;
    align-items: center;
    width: 60%;
    /* border: var(--border); */
  }

  .main__container-img img {
    width: calc(100vw - 100%);
    /* border: var(--border); */
  }

  .footer__container-box {
    flex-direction: row;
    column-gap: var(--mb-1-25);
  }
}

@media (min-width: 1024px) {
  .main__container-img {
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: var(--border); */
  }

  .main__container-img img {
    width: 500px;
  }
}
